.food-menu-page {
    background-color: #c6b9b3;
    padding: 30px;
    max-width: 700px;
    margin: 30px auto;
  }
  hr {
    border: 2px solid #9f837f;
    margin: 15px 0;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  .section {
    border: 2px solid #9b7865;
    padding: 5px;
    margin-bottom: 15px;
  }
  .listOfIngredients{
    list-style: none;
    margin-bottom: 15px;
    padding: 0;
  }
  
  .listOfIngredients input{
    margin: 0px 5px;
  }
  .listOfIngredients > li {
    display: inline-block;
    /* margin-right: 30px; */
    min-width: 180px;
    font-weight: 600;
    position: relative;
    padding-left: 25px;
    line-height: 15px;
  }
  .section-title {
    text-align: center;
  }
  .section-title > span {
    color: #ca2025;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .section-title > .title span {
    display: block;
    font-size: 24px;
    font-weight: 900;
    color: #000000;
    line-height: 20px;
  }
  .choose {
    font-size: 18px;
    font-weight: 600;
    color: #175f01;
    display: block;
  }
  .ster {
    color: #ca2025;
    font-weight: 900;
  }
  
  /* Hide the browser's default checkbox */
  li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  li:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  li input:checked ~ .checkmark {
    background-color: #ca2025;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  li input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  li .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .inner-sec h4 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0;
    text-decoration: underline;
  }
  h1, h3 {
    display: block;
    width: 100%;
    font-size: 28px;
    font-weight: 900;
  }
  h3 {
    font-size: 22px;
  }
  .section-header hr {
    border: 1px solid #d0916f;
  }
  .section-header .listOfIngredients {
    width: 100%;
  }
  .section-header .listOfIngredients .checkmark {
    top: 20px;
  }
  @media (max-width: 600px) {
    .section-title > .title span {
      display: inline-block;
    }
  }